extends layout

block content
            .w3-card-4
                header.w3-container.w3-teal
                    h1 Programação Canais de Filmes e Séries
            .w3-container.w3-padding
                table.w3-table-all
                    tr
                        th Dia
                        th Canal
                        th Programa
                        th Hora
                    each program in data                    
                        tr
                            td= program.data
                            td= program.canal
                            td= program.canal.programa
                            td= program.canal.hora
            
